* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: white;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;

    transform: translateY(-50px);
    opacity: 0;
    animation: navDown 0.8s ease forwards;
}
.naving img{
    padding: 20px 120px;
}
.a a{
    text-decoration: none;
    color: darkslategray;
    font-size: large;
    padding: 20px;
}
.a a:hover {
    color: pink;
}
.Twoslide {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.first_slide {
    padding:120px 210px;
    
    transform: translateX(-80px);
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.5s;
}
.first_slide h2 {
    color:#9a4b7b;;
    font-size: 50px;
}
.first_slide h1 {
    font-size:80px;
    color:black;
    font-weight: 750;
}
.first_slide p {
    color: gray;
    font-size: 23px;
    margin-top: 20px;
}
.first_slide button {
    background:#9a4b7b;;
    color: white;
    border-radius: 25px;
    margin-top: 25px;
    padding: 15px 20px;
    font-size: 20px;

    transform: scale(0.8)s;
    opacity: 0;
    animation: popUP 0.5s ease forwards;
    animation-delay: 1s;
}
.first_slide button:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #7a3a60;
}
/* .second_slide {
    transform:scale(0.8)s;
    opacity:0;
    animation:slideLeft  1s ease forwards;
    animation-delay: 0.7s;
} */

.second_slide img {
    height: 800px;
    width: 700px; 
    padding-left: 70px;  
}
.second_slide img:hover {
    cursor: pointer;
}
.icons {
    margin-top: 100px;

    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1.2s;
}
.icons img {
    height: 50px;
    width: 50px;
}
@media (max-width:768px) {
.Twoslide {
    grid-template-columns: 1fr;
}
.first_slide {
    order: 2;
}
.second_slide {
    order: 1;
}    
}
@keyframes fadeIn {
    to{
        opacity: 1;
    }
    
}
@keyframes navDown {
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes slideRight {
    to{
        transform:translateX(0);
        opacity: 1;
    }
}
@keyframes slideleft {
    to {
        transform:translateX(0);
        opacity: 1;
    }
}
@keyframes popUp {
    to {
        transform: scale(1);
        opacity: 1;
    }
}