* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}
.naving img{
    padding: 20px 120px;
}
.a a{
    text-decoration: none;
    color: darkslategray;
    font-size: large;
    padding: 20px;
}
.a a:hover {
    color: pink;
}
.Twoslide {
    display: flex;
}
.first_slide {
    padding:120px 210px;
    /* margin: 200px; */
}
.first_slide h2 {
    color:#9a4b7b;;
    font-size: 50px;
}
.first_slide h1 {
    font-size:80px;
    color:black;
    font-weight: 750;
}
.first_slide p {
    color: gray;
    font-size: 23px;
    margin-top: 20px;
}
.first_slide button {
    background:#9a4b7b;;
    color: white;
    border-radius: 25px;
    margin-top: 25px;
    padding: 15px 20px;
    font-size: 20px;
}
.first_slide button:hover {
    transition: 0.3ms;
    cursor: pointer;
}
.second_slide img {
    height: 800px;
    width: 700px; 
    padding-left: 70px;  
}
.second_slide img:hover {
    cursor: pointer;
}